@import "../../styles/mixin";
.Dialog{
    
    width: 60vw;
    border: 1px solid #9e9e9e;
    
    .OffcanvasFooter{
        display: flex;
        justify-content: space-around;

        margin-top: 20px;
       

    }
    .label{
        font-weight: 600;
            font-size: 18px;
            margin: 10px 0;
    
    }
    .inputDebounce{
        flex: 1 1 auto;
        width: 1%;
        border: 1px solid #ced4da;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
       outline-color: #90caf9;
       
        background-color: #f7f8fb;
       
       
    }
   
  
   
    .btnCancel{
        border: none;
        background-color:#ef5350;
        color: #ffff;
        &:hover{
            background-color:#e53935;
        }
    }
    @include responsives(md,up){
        width: 100vw;
            }
}
.selectItem{
    width: 100px;
}
.btnAdd{
    width: 30px;
    height: 30px;
}
.wrapListCommon{
    border: 1px solid #e0e0e0;
   width: 100%;
    .pagination{
        margin: 20px;
    }
}
.iconAdd{
    margin: 10px;
    font-size: 30px;
    color:#f57c00
}

.space{
    border: 1px solid #eeeeee;
    width: 100%;
    height: 100%;
    .aboutMe{
        width: 100%;
        margin-left: 20px;
       .aboutLeft{
        display: flex; 
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            span{
                font-size: 30px;
                font-weight: 600;
            }
            img{
                border: 1px solid #eeeeee;
                background-color: #9e9e9e;
            }
        }
        ul{
            list-style: none;
            padding-top: 45px;
            
            li{
                font-size: 20px;
                font-weight: 600;
                padding-top: 7px;
            }
        }
        
       }
       .aboutRight{
        width: 100%;
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            li{
                list-style: none;
                width: 100%;
                font-size: 20px;
                font-weight: 600;
            }
        }
       }
      
       
    }
    .divInteractive{
        background-color: #18aefa;
        padding: 40px 30px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
        border-radius: 10px;
        color: #fff;
        text-align: center;
        width: 30%;
        margin: 20px;
       }
       .introduction{
        margin: 20px;
        p{
            font-size: 20px;
            font-weight: 600;
        }
       }
       .addressArea{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        span{font-weight: 600;
            margin: 10px 0px;
            &:nth-child(1){
                font-size: 20px;
                
            }
            &:nth-child(2){
                font-size: 17px;
           
            }
        }
       }
    .skillArea{
        margin-left: 20px;
        p{
            font-size: 15px;
            font-weight: 600;
        } 
        .skillDetail{
            margin: 10px 0px;
            width: 95%;
           span{
                font-size: 15px;
                font-weight: 600;
            } 
            
        }
    }
    .educationArea{
        ul{
            list-style: none;
            li{
                font-size: 15px ;
                font-weight: 600;
            }
        }
    }


    h3{
        margin-left: 20px;
    }
    .btnSummit{
        margin: 20px;
    background-color: #ffc107;
border: none;
width: 100px;
height: 40px;
border-radius: 5px ;
color: #ffffff; 
font-weight: 700;  
font-size: 17px; 
        
    }
}
.inputRender{
    width: 100%;
    margin: 20px;
   
    .inputText{
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 100%;
        span{
            font-size: 20px;
          //  margin-bottom: 10px;
        }
        input{
            // outline:none;
            outline-color: #ffd54f;
            border: 1px solid #9e9e9e ;
            height: 40px;
            border-radius: 5px;
        }
        textarea{
            // outline: none;
            outline-color: #ffd54f;
            border: 1px solid #9e9e9e ;
            height: 40px;
            border-radius: 5px;
        }
    }
    .inputDate{
        display: flex;
        flex-direction: column;
        margin: 20px;
        span{
            font-size: 20px;
            // margin-bottom: 10px;
        }
        .datePk{
            // outline: none;
            outline-color: #ffd54f;
            border: 1px solid #9e9e9e ;
            height: 40px;
            border-radius: 5px;
            // input{
            //     outline: none;
            //     border: none;
            // }
        }
    }
    .inputFile{
        display: flex;
        flex-direction: column;
        margin: 20px;
        span{
            font-size: 20px;
           // margin-bottom: 10px;
        }
        input{
            // outline: none;
            outline-color: #ffd54f;
            border: 1px solid #9e9e9e ;
            height: 40px;
            border-radius: 5px;
            padding-top: 5px;
        }

    }
    .inputSelect{
        display: flex;
        flex-direction: column;
        margin: 20px;
        span{
            font-size: 20px;
        }
        div.select{
          
            height: 40px !important;
            width: 100% !important;
            border-radius: 5px;
            >div{
                border-radius: 5px;
                 height: 100%;
                 border: 1px solid #9e9e9e ;
            }
        }
    }

}
.wrap_file{
    margin-top: 5px;
    position: relative;
   
    height: 40px;
    width: 40px;
   border-radius: 10px;
   background-color: #b3e5fc;
    input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
   
   
    }
    .icon_upload{position: absolute;
        position: absolute;
    left: 22%;
    top: 20%;
    font-size: 20px;
   
    color: #29b6f6;
    }
    &:hover{
        background-color: #18aefa;
        .icon_upload{
            color: #fff;
        }
    }

}
.btnSummit{
    margin: 20px 40px;
    background-color: #ffc107;
border: none;
width: 100px;
height: 40px;
border-radius: 5px ;
color: #ffffff; 
font-weight: 700;  
font-size: 17px; 
}

