
.wrap_register{
    width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 
     border: 1px solid #eeeeee;
 .container_register{
  
    background-color: #fff;
     border-radius: 6px;
     box-shadow: 0 0 10px rgb(0 0 0 / 10%);
     display: flex;
     margin: 1.875rem auto;
     max-width: 800px;
     min-height: 500px;
     width: 100%;
     .wrap_form_left{
       align-items: center;
       background: #18aefa;
       border-radius: 6px 0 0 6px;
       flex-direction: column;
       justify-content: center;
       padding: 80px;
       width: 400px;
       display: flex;
       background-blend-mode: multiply;
       background-image: url(../../../../public/assets/images/background.jpg);
     img{
       max-width: 100%;
       height: auto;
     }
    
    }
     .wrap_form_right{
       height: 100%;
        width: 400px;
        min-height: 500px;
        border: 1px solid #e0e0e0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
         .containerActiveForm{
          display: flex;
      flex-direction: column;
      align-items: center;
      .iconCheck{
         font-size: 50px;
         color: #4caf50;
      }
         }
      
      
        h3,h5{
          text-align: center;
          font-size: 20px;
        }
        .input{
         height: 50px;
         width: 90%;
         margin: 10px;
         border-radius: 5px;
         outline: none;
         border: 1px solid #eeeeee;
         padding-left: 10px;
        font-weight: 600;
        font-size: 20px;
         
        }
        .select{
         width: 50%;
         margin: 10px;
         font-size: 20px;
        }
        .inputPw{
          position: relative;
          height: 50px;
          width: 90%;
          margin: 10px;
          border-radius: 5px;
          outline: none;
          border: 1px solid #eeeeee;
         
          .inputItem{
             width: 100%;
             height: 100%;
             border-radius: 5px;
             outline: none;
             border: 1px solid #eeeeee;
             padding-left: 10px;
             font-weight: 600;
             font-size: 20px;
            }
            .show{
             position: absolute;
             right: 12px;
             top:11px;
             
             svg{
                width: 30px;
                height: 30px;
                color:#bdbdbd
             }
 
            }
 
        }
        .wrapBtn{
         display: flex;
         flex-direction: column;
         width: 95%;
         justify-content: space-between;
      .button{
       height: 50px;
         width: 95%;
         margin: 10px;
         border-radius: 5px;
         outline: none;
         border: 1px solid #eeeeee;
         background-color: #ffb74d;
         color: #ffffff;
         font-size: 20px;
         &:hover{
          background-color: #29b6f6;
         }
     
       
    }
    .btn_fgPassword{
       margin: auto auto;
       font-size: 20px;
       color: #a0a0a0;
       &:hover{
          color: #18aefa;
       }
    }
        }
 
     }
 }
}
