.wrapActions{
    .btnEdit{
color:#4caf50;
font-size: 20px;
margin: 5px;
    }
    .btnDelete{
        color: #ff5722;
        font-size: 20px;
        margin:5px
    }
}

.btnSummit{
    margin: 20px 40px;
    background-color: #ffc107;
border: none;
width: 100px;
height: 40px;
border-radius: 5px ;
color: #ffffff; 
font-weight: 700;  
font-size: 17px; 
}
.inputAddress{
    display: flex;
    flex-direction: column;
    margin-left: 40px ;
    span{
        font-size: 20px;
    }
    
        input{
            // outline: none;
            outline-color: #ffd54f;
            border: 1px solid #9e9e9e ;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            padding-top: 5px;
        }
    
}
.wrap_form_add_teacher{
    border: 1px solid #e0e0e0 ;
    background-color: #ffffff;
 }