$breakpoints: (
//   phone-xs:374px
//     phone-sm: 424px,
//     phone: 767px,
//     tablet: 991px,
//     tablet-lg: 1024px,
//     desktop: 1200px,
//     desktop-lg: 1600px
xs:576px, // x< 576 => max-width
sm:767px, //576<=x<=767 =>max-width 767
md:991px, //768<=x<=991 =>max-width 991
lg:1200px,// 992<=x<=1200=>max-width 1200
xl:1600px, //1201<=x<=1600 =>max-width 1600
xxl:1600px,//>1600 =>min-width:1600

);
// khi goi @include chú ý thứ tự breakpoint đi từ cao => thấp
@mixin responsives($breakpoint,$direction) {
    //Kiểm tra breakpoint truyền vào có tồn tại như  định nghĩa $breakpoint hay không.
    @if map-has-key($map: $breakpoints, $key:$breakpoint ){
        // lay gia tri pixel theo dinh nghia
        $breakpoint-value: map-get($map: $breakpoints, $key:$breakpoint );
       @if $direction == up {
        @media  (max-width:$breakpoint-value) {
            
            @content;
        }
       }
       @else if $direction == down {
        @media  (min-width:$breakpoint-value) {
            
            @content;
        }
       }
    }
    
}
