@import './mixin';
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#e0e0e0
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0 
  } 
body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapAll{
    display: flex;
    width: 100%;
    min-height: 100%;
    .wrapContent{
        position: relative;
        .sideBar{
            overflow-y: 'scroll';
            height: 100vh;
            @include responsives(md,up){
                display: none;
            }
             
        }
        .container_content{
           
        height: 100vh;
        overflow-y: scroll;
        padding: 20px;
        // .content{
        //     border: 1px solid #e0e0e0;
        // }
        }
    }
}
    