.wrap_drawer {
 
  form {
    .inputRender {
      div.inputText {
        display: flex;
        flex-direction: column;
        span{
            font-size: 17px;
            font-weight: 500;
            margin: 10px 0px;
        }
        input {
          outline: none;
          border: 1px solid #9e9e9e;
           border-radius: 5px;
          height: 40px;
          padding-left: 10px;
          &:hover{
            background-color: #fafafa;
            border: 1px solid #ffc107 ;
          }
        }
      }
      .source{
        display: flex;
        flex-direction: column;
        span:nth-child(1){
            font-size: 17px;
            font-weight: 500;
            margin: 10px 0px;
        }
        .select{
            border: 1px solid #9e9e9e;
            border-radius: 5px;
            div{
                border-radius: 5px;
                outline: none;
                height: 40px;
                &:hover{
                    background-color: #fafafa;
                    border: 1px solid #ffc107 ;
                  }
            }
        }
        
    }
    .inputDate{
      display: flex;
      flex-direction: column;
     
      span{
        font-size: 17px;
        font-weight: 500;
        margin: 10px 0px;
    }
    .datePk{
      height: 40px;
      width: 50%;
    }
    }
    .input_description{
      display: flex;
      flex-direction: column;
      span{
        font-size: 17px;
        font-weight: 500;
        margin: 10px 0px;
    }
    textArea{
      outline: none;
      border: 1px solid #9e9e9e;
       border-radius: 5px;
      height: 100px;
      padding-left: 10px;
      &:hover{
        background-color: #fafafa;
        border: 1px solid #ffc107 ;
      }
    }

    }
    .inputTextTag{
      display: flex;
      flex-direction: column;
      span{
          font-size: 17px;
          font-weight: 500;
          margin: 10px 0px;
      }
      
    }
    .inputSelect {
      display: flex;
      flex-direction: column;
      span{
        &:nth-child(1){
          font-size: 17px;
          font-weight: 500;
          margin: 5px 0px;
        }
        &:nth-child(2){
          font-size: 15px;
          font-weight: 500;
         
        }
         
      }
      .select{
        width: 50%;
      }
    }
    }
    
    .wrap_button {
      display: flex;
      justify-content: space-around;
      margin: 50px 20px;
      button {
        border: none;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        &:nth-child(1) {
          background-color: #4caf50;
          &:hover {
            background-color: #66bb6a;
          }
        }
        &:nth-child(2) {
          background-color: #ff5722;
          &:hover {
            background-color: #ff7043;
          }
        }
      }
    }
  }
}
