.wrap_all{
    
    .container_top{
        
.card_user{
    width: 100%;
}
    }
}
.btnSummit{
    margin: 20px 40px;
    background-color: #ffc107;
border: none;
width: 100px;
height: 40px;
border-radius: 5px ;
color: #ffffff; 
font-weight: 700;  
font-size: 17px; 
}
.cart_left{
    min-height: 360px;
    margin-bottom: 20px;
}
.cart_right_top{
    margin-bottom: 20px;
    min-height: 100px;
}
.cart_right_bottom{
    min-height: 200px;
}
.wrap_row{
    height: 50%;
    width: 100%;
    // border: 1px solid #bdbdbd;
    .wrap_col_left{
        display: flex;
        flex-direction: column;
        border-right: 1px solid #bdbdbd;
        height: 100%;
        .btn_compose{
            border: none;
            background-color: #ffc107;
            font-size: 20px;
            color: #ffffff;
            font-weight: 700;
            width: 90%;
            height: 50px;
            border-radius: 5px;
            margin-bottom: 50px;
            &:hover{
                background-color: #29b6f6;
             }  

        }
        .btn_left{
            padding: 10px 0px;
             border: none;
             text-align:left;
            
             font-size: 20px;
             font-weight: 600;
             width: 90%;
             .icon{
                
                padding: 15px;
                
             }
         &:hover{
            background-color: #29b6f6;
         }    
        }
    }
}