.wrap_login{
    // width: 100vw;
    // height: 100vh;
    
    .container{
       
       
        .form_formik{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            
           
            button{
                width: 150px;
                height: 50px;
                border: none;
                background-color: #3f51b5;
                opacity: 0.75;
                border-radius: 20px;
                margin-top: 20px;
                font-size: 15px;
                font-weight: 500;
                color:#ffff;
                &:hover{
                    background-color: #3f51b5;
                    opacity: 1;
                    color:#ffc107
                }
                
            }
            input{
                width: 100%;
                height: 40px;
                outline: none;
                border: 1px solid #e0e0e0;
                border-radius: 10px;
                margin: 10px 0px;
                font-size: 15px;
                padding:0px 10px
            }
            .input_email{width: 95%;
            }
            .container_pass{
                position: relative;
                width: 95%;
                .input_password{
                   
                }
                .icon{
                    font-size: 20px;
                    position: absolute;
                    top: 35%;
                    right: 5%;
                }
    
            }
    
    
        }
    }
    
}