.wrap_table{
   display: flex;
   flex-direction: column;
   position: relative;
   width: 93%;
   margin-top: 20px;
   margin-left:50px ;
   .pagination{
    margin: 20px 0px;
   }
   .btn_add{
     position: absolute;
     top: 0;
     right: 20px;
      font-size: 30px;
         color: #1976d2;
         cursor: pointer;
      
   }
   
   
}
