.wrapActions{
    .btnEdit{
color:#4caf50;
font-size: 20px;
margin: 5px;
    }
    .btnDelete{
        color: #ff5722;
        font-size: 20px;
        margin:5px
    }
}
.wrap_form_add_student{
   border: 1px solid #e0e0e0 ;
   background-color: #ffffff;
}
