@import '../../styles/mixin';
//breadcrum
.wrapBreadcrumb{
    width: 100%;
    height: 60px;
    // background-color: #eeeeee;
    margin: 20px 20px;
    
    .titlebreak{
        padding-left: 30px;
font-size: 20px;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
    }
    .breadcrum{
        padding-left: 30px;
        font-size: 20px;
        font-weight: 500;
font-family: Arial, Helvetica, sans-serif;

    }
}
//header
.wrapHeader{
    position: sticky;
    top:0;
     border-bottom:  1px solid #e0e0e0;
     height: 70px;
     z-index: 99;
     background-color: #ffffff;
    .hidden_logo{
     position: relative;
     border-right:1px solid #e0e0e0;
      width: 78px;
      .img_logo{
            
        position: absolute;
        top: 15px;
        left: 15px;
        
 }
     @include responsives(md,up){
         display: none;
     }
    }
     .logo{
         border-right:1px solid #e0e0e0;
      width: 200px;
        
         .brand{
             position: relative;
             display: flex;
             // justify-content: space-around;
             // align-items: center;
            img{
             position: absolute;
                 top: 15px;
                 left: 5px;
            }
           
             p{ position: absolute;
                 top: 15px;
                 left: 50px;
                 font-family: Arial, Helvetica, sans-serif;
                 font-weight: 700;
                 font-size: 30px;
                 span{
                     font-weight: 500;
                 }
             }
         }
         
         @include responsives(md,up){
             display: none;
         }
 
     }
     .headerLeft{
         display: flex;
         justify-content: space-around;
         align-items: center;
      
         svg{
             font-size: 30px;
             color: #4fc3f7;
             margin-top: 10px;
         }
         .search{
             height: 40px;
             width: 80%;
             margin-top: 5px;
             
             position: relative;
             input{
                 border-radius: 15px;
                 outline: none;
                 border: 1px solid #e0e0e0;
                 height: 100%;
                 width: 100%;
                 padding-left: 20px;
             }
             svg{
                 color: #ff9800;
                 font-size: 25px;
                 position: absolute;
                 top: 0px;
                 right: 10px;
             }
         }
 
     }
     .headerRight{
         display: flex;
         justify-content: space-around;
         align-items: center;
         position: relative;
        
        .badge{
         margin-top: 10px;
         svg{
             font-size: 26px;
             color: #757575;
         }
        
 
        }
        .profile{
         svg{margin-left: 7px;
             
             font-size: 15px;
             color:#4fc3f7;
 
         }
        
        }
        .detailProfile{
         width: 200px;
         height: 200px;
         border: 1px solid #bdbdbd;
         background-color: #fafafa;
         position: absolute;
         top: 60px;
         right: 15px;
         display: flex;
         flex-direction: column;
         z-index: 99;
        
           div{
                 height: 50px;
                 width: 100%;
                 border-bottom: 2px solid #bdbdbd;
                 padding-left: 20px;
                 padding: 5px 20px;
           }
                 
                 
          a{ height: 50px;
             width: 100%;
             border-top: 1px solid #bdbdbd;
             cursor: pointer;
             text-decoration: none;
             font-size: 17px;
             color: black;
             padding: 8px 20px;
             font-family: Arial, Helvetica, sans-serif;
             &:hover{
               color: #ff9800;
               background-color: #f5f5f5;
             
             }
         }  
     } 
     }
     .iconLogout{
         width: 40px;
         height: 40px;
     }
 }
 .popoverProfile{
     display: flex;
     flex-direction: column;
     width: 150px!important;
    
     a{
         font-size: 18px;
        font-family:sans-serif;
         color: #212121;
        
        //  &:hover{
        //      background-color: #e0e0e0;
        //      color: #ff9800;
        //      border-bottom: 1px solid #757575;
        //  }
     }
 }
 //sideBar
 ::-webkit-scrollbar {
    width: 5px;
  }
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#e0e0e0
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0 
  } 
nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    .areaMenu{
        overflow-y: scroll ;
        div>.divider{
            font-weight: 400;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #bdbdbd;
            
        }
        div>.itemMenu{
            font-size: 17px;
            font-weight: 500;
            color: #616161;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    }

}
/// chat socket
.wrapChat{
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 10 !important;
    
    .containerChat{
        .layoutChat{
            position: absolute;
            margin:10px;
            bottom: 75px;
            right: 20px;
           height: 350px;
           width: 300px;
       
          background-color: #ffffff;
          box-shadow: 2px 2px 5px 5px #f1f1f1;
        //    z-index: 99;
       border-radius: 20px;
       border: #bdbdbd;
      .list_message{
       height: 80%;
       overflow-y: scroll;
    //    position: relative;
       .item_left{
        margin: 5px 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        animation: fadeIn .3s;
       }
       .item_right{
        display: flex;
        justify-content: flex-end;
       
        .item_send{
            display: flex;
            align-items: center;
           width: 60%;
            height: 20px;
            padding: 20px;
            background-color: #e8e8ec;
          
            border-radius: 25px;
            // overflow: scroll;
            span{
                width: 100%;
                color: rgb(19, 16, 16);
                text-align: left;
                font-size: 17px;
            }
           }
       } 
      }
       .sendMess{
        position: absolute;
        bottom:0px;
        width: 100%;
        textarea{
            resize: none;
            margin: auto;
            width: 70%;
            border: none;
            background-color: #f1f1f1;
            border-radius: 10px;
            outline: none;
            min-height: 30px;
            padding-left: 10px;

        }
       }
       .rowOffset{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        p{
            font-size: 17px;
            margin-top: 20px;
        }
        button{
            width: 90%;
            border-radius: 20px;
            height: 40px;
            font-size: 17px;
        }
       
       }
       .avatar{
        margin:5px;
        width: 50px;height: 50px;
        
       }
        .iconHidden{
            font-size: 20px;
            color: #757575;
            font-weight: 600;
            background-color: #f1f1f1;
            border-radius: 50%;
            padding: 5px;
            margin: 10px;
        }
      
           
        }
       

    }
    
    .iconChat{
        position: absolute;
        right: 0px;
        bottom: 20px;
       height: 60px;
       width:60px;
       z-index: 98;
       color: #4fc3f7;
       background-color: #f5f5f5;
       border-radius: 50%;
    }
   
}
