.wrap_err_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
        flex-direction: column;
        
        h1{
            color: #FFBC53;
            font-size: 100px;
        }
        h3{
            font-size: 35px;

        }
        p{
            font-size: 25px;
        }
        a{
            width: 150px;
            height: 50px;
            background-color: #FFBC53;;
            padding:10px;
            border-radius: 20px;
            text-align: center;
            color: #fff;
            font-size: 20px;
            &:hover{
                background-color: #4fc3f7;
            }
        }
    
}