
.wrap_registerAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
.container_registerAdmin{
 
   background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    display: flex;
    margin: 1.875rem auto;
   width: 100%;
    min-height: 60vh;
    .wrap_form_left{
      align-items: center;
      background: #18aefa;
      border-radius: 6px 0 0 6px;
      flex-direction: column;
      justify-content: center;
      padding: 80px;
      width: 30%;
      display: flex;
      background-blend-mode: multiply;
      background-image: url(../../../../public/assets/images/background.jpg);
    img{
      max-width: 100%;
      height: auto;
    }
   
   }
    .wrap_form_right{
      height: 100%;
       width: 70%;
       border: 1px solid #e0e0e0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       h3,h5{
         text-align: center;
       }
       .input{
        height: 50px;
        width: 90%;
        margin: 10px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #eeeeee;
        padding-left: 10px;
       font-weight: 600;
       font-size: 20px;
        
       }
       .select{
        width: 50%;
        margin: 10px;
        font-size: 20px;
       }
       .inputPw{
         position: relative;
         height: 50px;
         width: 90%;
         margin: 10px;
         border-radius: 5px;
         outline: none;
         border: 1px solid #eeeeee;
        
         .inputItem{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            outline: none;
            border: 1px solid #eeeeee;
            padding-left: 10px;
            font-weight: 600;
            font-size: 20px;
           }
           .show{
            position: absolute;
            right: 12px;
            top:11px;
            
            svg{
               width: 30px;
               height: 30px;
               color:#bdbdbd
            }

           }

       }
       .wrapBtn{
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: space-between;
     .button{
        height: 50px;
        width: 55%;
        margin: 10px;
        margin: auto;
        border-radius: 5px;
        outline: none;
        border: 1px solid #eeeeee;
        background-color: #ffb74d;
        color: #ffffff;
        font-size: 20px;
        &:hover{
         background-color: #29b6f6;
        }
     
   }
   .btn_fgPassword{
      margin: auto auto;
      font-size: 20px;
      color: #a0a0a0;
      &:hover{
         color: #18aefa;
      }
   }
       }

    }
}
}